* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.Header {
    padding: 20px;
    height: 90px;

}

.Header-nav {
    display: flex;
    justify-content: space-between;

}

.Header-ul {
    display: flex;
    gap: 20px;
    list-style: none;
    color: black;

}

.Header-li {
    color: black;
}

.Header-p {
    font-size: 15px;
}

main {
    margin-top: 100px;
    padding: 20px;
}

.Section-img {
    height: 200px;
    width: 200px;
}

.Footer {
    padding: 20px;
   
}
.Footer-ul{
    display: flex;
justify-content: space-between;


}
.Footer-li{
    display:flex;
    just

}